.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}