html {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

body {
    text-align: center;
    font-family: Courier, monospace;
}

button {
    font-family: Courier, monospace;
}

footer {
    text-align: center;
    font-size: 12px;
    /* position: absolute;
    left: 50%;
    bottom:5rem; */
}

.board-container {
    margin: 0 auto;
}

.board {
    border-collapse: collapse;
    background-color: transparent;
    margin: 0 auto ;
}

.board td {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    border: 1px solid darkcyan;
    background-color: transparent;
}

table td button{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.board button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
}

.board button span {
    display: none;
}

.board button.shown span {
    display: block;
}

.board button.shown {
background-color: rgba(207, 206, 206, 0.4);
}

.board button.marked span {
    display: block;
}

.levelBtns {
    margin: 1rem;
}

.advancement {
    display: flex;
    justify-content: center;
}

.stopwatch,
.markCount {
    margin: 0px 20px 0px;
}

.lives-container {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.hints-container {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.safeClicks-container {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    max-width: 80px; 
}

.smiley {
    background-color: transparent;
    border: 0px;
    padding: 0;
}

.modal {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100px;
    padding: 20px;
    position: absolute;
    top: 220px;
    left: calc(50% - 69px);
    font-size: x-large;
    font-weight: bold;
  }
  
  .hide {
    display: none;
  }