@import "./helpers.css";
@import "./base.css";

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

.dark-mode body {
    background-image: url('../img/darkBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

header {
    gap: 0.5rem;
    padding-block: 1.25rem;

    .title {
        padding-block-end: 1.25rem;

        .smiley {
            background-color: transparent;
            border: 0px;
            padding: 0;
            cursor: pointer;
        }
    }

    .time {
        gap: 2rem;
    }

    .levelBtns {
        gap: 0.5rem;

        button {
            background-color: rgb(144, 224, 224);
            padding: 2px 5px;
            border: 0;
            border-radius: 0.5rem;
            transition: 0.5s ease;

            &:hover {
                scale: 1.05;
                box-shadow: 1px 1px 2px gray;
            }

            &:active {
                scale: 0.95;
            }
        }

        .manual.active {
            background-color: #efb2f8ad;
        }
    }
}

.dark-mode .levelBtns button {
    background-color: rgb(86, 86, 86);
    color: white;
}

footer {
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 1rem;
}

.board-container {
    margin: 0 auto;
}

.board {
    border-collapse: collapse;
    background-color: transparent;
    margin: 0 auto;
}

.board td {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
    border: 1px solid darkcyan;
    background-color: transparent;
}

table td button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.board button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: rgba(254, 254, 254, 0.126);
}

.dark-mode .board button {
    color: white;
}

.board button span {
    display: none;
}

.board button.shown span {
    display: block;
}

.board button.shown {
    background-color: rgba(207, 206, 206, 0.498);
}

.board button.marked span {
    display: block;
}

.lives-container {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hints-container {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.safeClicks-container {
    position: absolute;
    top: 65%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    max-width: 80px;
    cursor: pointer;
}

.darkMode-switch {
    width: 40px;
    height: 20px;
    background-color: #aeaeaead;
    border-radius: 34px;

    position: fixed;
    right: 1.5rem;
    top: 1.5rem;

    cursor: pointer;
}

.slider {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;

    transition: 1s ease;
}

.dark-mode .slider {
    left: 23px;
}

.modal {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100px;
    padding: 20px;
    position: absolute;
    top: 220px;
    left: calc(50% - 69px);
    font-size: x-large;
    font-weight: bold;
}

.dark-mode .modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.hide {
    display: none;
}